// BetterReplyer styles 
.replyer {
	position: relative;
	top: -1px;
	margin-left: 5px;
	padding: 3px 5px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	color: #fff !important;
	font-size: 10px;
	text-transform: uppercase;
	cursor: pointer;
}
%messageGroup:not(:hover) .replyer {
	visibility: hidden;
}