.container {
    margin: 0 8px;
    padding: 3px 6px;
    display: flex;
    background: var(--input-background);
    border: 1px solid var(--input-border-default);
    border-radius: 3px;
}
.input {
    margin-right: 2px;
    flex-grow: 1;
    background: transparent;
    border: none;
    &::-webkit-inner-spin-button {
        appearance: none;
    }
    &:hover::-webkit-inner-spin-button {
        appearance: auto;
    }
}
.input,
.unit {
    color: var(--input-foreground-default);
    font-family: var(--font-primary);
    font-weight: 500;
}
