.collapseEmbeds-hideButton {
    margin-bottom: -4px;
    align-self: flex-end;
    color: var(--interactive-normal);
    cursor: pointer;
    visibility: hidden;
    &:hover {
        color: var(--interactive-hover);
    }
    .collapseEmbeds-expanded > & {
        margin-bottom: -6px;
        &.collapseEmbeds-marginCorrect {
            margin-left: -20px;
        }
    }
    .collapseEmbeds-container:hover > &,
    .collapseEmbeds-collapsed > & {
        visibility: visible;
    }
}
.collapseEmbeds-icon {
    margin: -2px;
}
