.container {
    &.embed {
        justify-self: stretch;
        & > article {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}
.hideButton {
    margin-bottom: -4px;
    align-self: flex-end;
    color: var(--interactive-normal);
    cursor: pointer;
    visibility: hidden;
    &:hover {
        color: var(--interactive-hover);
    }
    .expanded > & {
        margin-bottom: -6px;
        &.marginCorrect {
            margin-left: -20px;
        }
    }
    &:hover,
    :hover + &,
    .collapsed > & {
        visibility: visible;
    }
}
.icon {
    margin: -2px;
}

.attachment,
.placeholder {
    /* unused */
}
