// BetterFolders styles
.betterFolders-customIcon {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.betterFolders-preview {
	margin: 0 10px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 16px;
	cursor: default;
}