.customIcon {
    box-sizing: border-box;
    border-radius: var(--radius-lg);
    width: var(--guildbar-folder-size);
    height: var(--guildbar-folder-size);
    padding: var(--custom-folder-preview-padding);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.customIcon.showFolderIndicator::before {
    content: "📂";
}
