.userCount {
    height: 20px;
	padding: 0 4px;
	margin-right: 4px;
	display: flex;
    align-items: center;
    justify-content: center;
	background: var(--background-primary);
	border-radius: 5px;
	color: var(--channels-default);
	font-size: 12px;
	font-weight: 600;
}
